:root {
    --md-sys-color-primary: rgb(58 105 58);
    --md-sys-color-surface-tint: rgb(58 105 58);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(187 240 181);
    --md-sys-color-on-primary-container: rgb(0 33 5);
    --md-sys-color-secondary: rgb(82 99 79);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(213 232 207);
    --md-sys-color-on-secondary-container: rgb(16 31 16);
    --md-sys-color-tertiary: rgb(57 101 107);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(188 235 241);
    --md-sys-color-on-tertiary-container: rgb(0 31 35);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(65 0 2);
    --md-sys-color-background: rgb(247 251 241);
    --md-sys-color-on-background: rgb(24 29 23);
    --md-sys-color-surface: rgb(247 251 241);
    --md-sys-color-on-surface: rgb(24 29 23);
    --md-sys-color-surface-variant: rgb(222 229 217);
    --md-sys-color-on-surface-variant: rgb(66 73 64);
    --md-sys-color-outline: rgb(114 121 111);
    --md-sys-color-outline-variant: rgb(194 201 189);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(45 50 44);
    --md-sys-color-inverse-on-surface: rgb(238 242 233);
    --md-sys-color-inverse-primary: rgb(160 212 155);
    --md-sys-color-primary-fixed: rgb(187 240 181);
    --md-sys-color-on-primary-fixed: rgb(0 33 5);
    --md-sys-color-primary-fixed-dim: rgb(160 212 155);
    --md-sys-color-on-primary-fixed-variant: rgb(34 80 37);
    --md-sys-color-secondary-fixed: rgb(213 232 207);
    --md-sys-color-on-secondary-fixed: rgb(16 31 16);
    --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
    --md-sys-color-on-secondary-fixed-variant: rgb(59 75 57);
    --md-sys-color-tertiary-fixed: rgb(188 235 241);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 35);
    --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
    --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 83);
    --md-sys-color-surface-dim: rgb(216 219 210);
    --md-sys-color-surface-bright: rgb(247 251 241);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(241 245 236);
    --md-sys-color-surface-container: rgb(236 239 230);
    --md-sys-color-surface-container-high: rgb(230 233 224);
    --md-sys-color-surface-container-highest: rgb(224 228 219);
    --font-face: 'Inter', sans-serif;
}

:root.dark {
    --md-sys-color-primary: rgb(160 212 155);
    --md-sys-color-surface-tint: rgb(160 212 155);
    --md-sys-color-on-primary: rgb(7 57 16);
    --md-sys-color-primary-container: rgb(34 80 37);
    --md-sys-color-on-primary-container: rgb(187 240 181);
    --md-sys-color-secondary: rgb(185 204 180);
    --md-sys-color-on-secondary: rgb(37 52 35);
    --md-sys-color-secondary-container: rgb(59 75 57);
    --md-sys-color-on-secondary-container: rgb(213 232 207);
    --md-sys-color-tertiary: rgb(161 206 213);
    --md-sys-color-on-tertiary: rgb(0 54 60);
    --md-sys-color-tertiary-container: rgb(31 77 83);
    --md-sys-color-on-tertiary-container: rgb(188 235 241);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(16 20 15);
    --md-sys-color-on-background: rgb(224 228 219);
    --md-sys-color-surface: rgb(16 20 15);
    --md-sys-color-on-surface: rgb(224 228 219);
    --md-sys-color-surface-variant: rgb(66 73 64);
    --md-sys-color-on-surface-variant: rgb(194 201 189);
    --md-sys-color-outline: rgb(140 147 136);
    --md-sys-color-outline-variant: rgb(66 73 64);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(224 228 219);
    --md-sys-color-inverse-on-surface: rgb(45 50 44);
    --md-sys-color-inverse-primary: rgb(58 105 58);
    --md-sys-color-primary-fixed: rgb(187 240 181);
    --md-sys-color-on-primary-fixed: rgb(0 33 5);
    --md-sys-color-primary-fixed-dim: rgb(160 212 155);
    --md-sys-color-on-primary-fixed-variant: rgb(34 80 37);
    --md-sys-color-secondary-fixed: rgb(213 232 207);
    --md-sys-color-on-secondary-fixed: rgb(16 31 16);
    --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
    --md-sys-color-on-secondary-fixed-variant: rgb(59 75 57);
    --md-sys-color-tertiary-fixed: rgb(188 235 241);
    --md-sys-color-on-tertiary-fixed: rgb(0 31 35);
    --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
    --md-sys-color-on-tertiary-fixed-variant: rgb(31 77 83);
    --md-sys-color-surface-dim: rgb(16 20 15);
    --md-sys-color-surface-bright: rgb(54 58 52);
    --md-sys-color-surface-container-lowest: rgb(11 15 10);
    --md-sys-color-surface-container-low: rgb(24 29 23);
    --md-sys-color-surface-container: rgb(28 33 27);
    --md-sys-color-surface-container-high: rgb(39 43 37);
    --md-sys-color-surface-container-highest: rgb(50 54 48);
    --font-face: 'Inter', sans-serif
}

* {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: var(--font-face);
    user-select: none;
    transition: all 0.3s;
}

a,
a:visited {
    text-decoration: none;
    color: var(--md-sys-color-on-surface-variant);
}

body {
    position: relative;
}

.chapter {
    display: flex;
    background-color: #1b151462;
    height: 100vh;
    width: 100vw;
    gap: 2vh;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.dialog {
    flex-direction: column;
    display: flex;
    border-radius: 28px;
    padding: 24px 24px 0;
    height: fit-content;
    width: fit-content;
    /* min-height: min(560px, 100%-48px); */
    max-width: min(560px, 100%-48px);
    min-width: 280px;
    background-color: var(--md-sys-color-surface-container-high);
}

.heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    align-items: center;

}

.heading span {
    font-size: 1.5em;
    color: var(--primary-text-color);
    padding-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0;
    max-height: 200px;
}

.content::-webkit-scrollbar {
    display: none;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}

.action {
    padding: 0px 0 24px 0;
    display: flex;
    align-self: flex-end;
}

.search-chapter {
    text-align: center;
    width: clamp(250px, 20%, 600px);
    border-radius: 5000px;
    padding: 20px;
}

.search-chapter::placeholder {
    text-align: center;
}

.search-hide {
    display: none;
}

.list-chapters {
    overflow: auto;
    height: 70%;
    /* background-color: red; */
    width: 70%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.list-chapters p {
    color: white;
    text-align: center;
    border-bottom: 2px solid var(--primary-light-color);
    width: 60%;
}

.container {
    display: flex;
    background-color: var(--md-sys-color-background);
    height: 100vh;
}

.sidebar {
    flex: initial;
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    width: 100px;
    height: 100%;
    background-color: var(--md-sys-color-surface);
    align-items: center;
    padding: 20px 0;
    z-index: 1;
    color: var(--md-sys-color-on-surface-variant);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.selected-menu-item {
    padding: 4px 16px;
    border-radius: 5000px;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    align-items: center;
}

.header {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 7vmin;
    font-weight: 800;
    color: var(--md-sys-color-on-background);
    /* background-color: red; */
}

.pages {
    display: flex;
    flex: initial;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    /* background-color: #EA80FC; */
    margin: 20px;
    border-radius: 8px;
}

.pages img {
    position: relative;
    width: 100%;
    border-radius: 8px;
    --md-elevation-level: 1;
}
.pages img:last-child{
    margin-bottom: 80px;
}
.body::-webkit-scrollbar {
    display: none;
}

.body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.fab {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
    flex-wrap: wrap;
    /* padding: 10px; */
    background-color: var(--md-sys-color-primary-container);
    border-radius: 18px;
    --md-elevation-level: 4;
}

.dual-page,
.next-chap,
.back-to-menu,
.main {
    color: var(--md-sys-color-on-primary-container);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: initial;
    padding: 24px;
    /* background-color: red; */
}

.fab>div:hover {
    background-color: #33201d1c;
    border-radius: 18px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.double {
    flex-direction: row;
    max-width: 1200px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 60px;
        min-width: 100%;
        position: fixed;
        bottom: 0;
        margin-top: 100px;
    }

    .fab {
        margin: 0 20px 80px 0;
        width: 72px;
    }
}
